.containerSlotMachine {
  display: flex;
  flex-direction: column;
  background-image: url('../../assets/bg1inverted.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}

.contentSlotMachine {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0 3rem 0;
}

.slot {
  position: relative;
  display: inline-block;
  height: 200px;
  width: 80px;
  margin-right: 6rem;
}

.fruit {
  /* font-size: 3rem; */
}

section {
  position: absolute;
  border-radius: 15px !important;
  border: 1px solid red !important;
  width: 170px;
  height: 160px;
  overflow: hidden;
  background-color: #f35103;
  text-align: center;
  font-size: 25px;
  line-height: 60px;
  cursor: default;
  text-shadow: 0px -2px 4px #fff, 0px -2px 10px #ff3, 0px -10px 20px #f90,
    0px -20px 40px #c33;
}

.fruit {
  position: absolute;
  top: 2px;
  width: 100%;
  transition: top ease-in-out 0.5s;
  text-align: center;
}

.fruit div {
  height: 179px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fruit span {
  font-size: 5rem;
}

.roll {
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
  font-weight: 800;
  text-decoration: none;
  color: #f5f5f5;
  text-shadow: 0px -2px 4px #fff, 0px -2px 10px #ff3, 0px -10px 20px #f90,
    0px -20px 40px #c33;
  font-size: 4rem;
}

.rolling {
  animation: blinkingText 1.2s infinite;
}

@keyframes blinkingText {
  0% {
    color: #000;
  }
  100% {
    color: transparent;
  }
}

@keyframes slide {
  from {
    transform: translateY(215px);
  }
  to {
    transform: translateY(calc(-205px));
  }
}

.divMsgWinner {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
  margin-top: 2rem;
  z-index: 99999999;
  color: #f5f5f5;
  text-shadow: 0px -2px 4px #fff, 0px -2px 10px #ff3, 0px -10px 20px #f90,
    0px -20px 40px #c33;
}

.divMsgWinner p {
  font-size: 3rem;
}

.divMsgWinner span {
  font-size: 2rem;
}

.contentSlotMachine .results {
  color: white;
  font-weight: 800;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.contentSlotMachine .rewards {
  display: flex;
  flex-direction: column;
  font-weight: 800;
  color: white;
  gap: 1rem;
  padding: 2rem;
  border: 2px solid white;
  border-radius: 1rem;
}

@media only screen and (max-width: 600px) {
  section {
    width: 100px;
    height: 132px;
  }

  .slot {
    margin-right: 2rem;
  }

  .fruit span {
    font-size: 3rem;
  }
}
